body {
  font-family: Arial, sans-serif;
}

.container::-webkit-scrollbar {
  width: 5px;
}

/* Handle of the scrollbar */
.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust color as needed */
  border-radius: 6px;
}

/* Style on hover */
.container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust color as needed */
}

/* Animation for scrollbar track */
@keyframes slidein {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(0, 0, 0, 0.1);
    /* Adjust color as needed */
  }
}

.container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  /* Adjust color as needed */
  animation: slidein 0.5s ease forwards;
}

.container {
  max-width: 40%;
  margin: 13% auto;
  padding: 20px;
  background-color: lavender;
  box-shadow: 0 0 8px rgba(4, -3, 118, 1.2);
  height: 283px;
  /* Set a fixed height for the container */
  overflow-y: auto;
  /* Add scrollbar for vertical overflow */
}

h1 {
  text-align: center;
  color: #b46868;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.input-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: double;
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
}

.input-container button i {
  margin-right: 5px;
  /* Adjust the spacing between the icon and text */
}

.input-container button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: #fff;
}

td {
  background-color: #f9f9f9;
}

td input[type="checkbox"] {
  margin: 0;
}

.btn-delete {
  border-radius: 5px;
  border: none;
  padding: 4px;
  min-width: 13%;
  background-color: #ff4c4c;
  color: white;
}

.btn-delete:hover {
  color: #000000;
}



/* popup style */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 105px;
  box-shadow: 0 0 8px rgba(4, -3, 118, 1.2);
  /* Shadow effect */
}

.popup p {
  margin-bottom: 15px;
}

.popup button {
  padding: 8px 47px;
  margin-right: 34px;
  cursor: pointer;
}

.popup button.confirm {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.popup button.cancel {
  background-color: #6c757d;
  color: #fff;
  border: none;
}

.popup button.confirm:hover {
  color: #fbb504;
}

.popup button.cancel:hover {
  color: #fbb504;
}

.btn-clear {
  border-radius: 5px;
  border: none;
  padding: 4px;
  min-width: 30%;
  background-color: #ff4c4c;
  color: white;
}
.btn-clear:hover{
  color: #000000;
}
.counting-task{
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}